<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li> <%= link_to "Home", pages_home_path %></li>
      </ul>
    </div>
  </div>
</nav>
